@import url('https://fonts.googleapis.com/css2?family=Coiny&family=IBM+Plex+Mono:wght@300;400&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    display: none;

}

h2 {
    color: white
}

h2 { 
    color: white;
}

p { 
    color: white; 
}

/* Header */  

li,
a,
button {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid hsla(0, 1%, 65%, 0.5)
}

.logo img {
    height: 55px;
    cursor: pointer;
    margin-left: 60px;
    padding-bottom: 2px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    margin: 0 30px;
    font-size: 17px;
    font-family: 'IBM Plex Mono', monospace;
}

.nav-links li a {
    color: black;
}

.nav-links li a:hover {
    color: orange
}

.acceder {
    padding: 9px 25px;
    background-color: rgb(255, 139, 6);
    border: none;
    border-radius: 5px;
    height: 45px;
    margin-right: 160px;
    color: white;
}

.frase-header {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    height: 45px;
    text-align: center;
    position: relative;
}

.frase-header p {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

.frase-header p span {
    color: rgb(255, 139, 6)
}

.search-bar {
    position: absolute;
    right: 0;
    margin-right:35px;
    margin-top: 5px;
}

.search-bar input {
    height: 35px;
    padding-left: 7px;
    border: 2px solid rgb(172, 199, 224);
    border-radius: 5px;
    width: 250px;
}

.search img {
    height: 18px;
    border: none;
}

.background-banner img {
    height: 801px;
    width: 100%;
}


/* Comienza main */   
main {
    background-color: #1c1e27;
}




/* Comienza Footer*/  


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    height: 200px;
    margin-right: 100px;
    margin-left: 100px;
}

footer div {
    display: inline-block;
    justify-content: space-between;
   
}
footer div:first-of-type {
    display: inline-block;
}

footer div ul {
    text-decoration: none;
    list-style: none;
    align-items: center;
    align-items: initial;
    
}

footer div ul li:first-of-type{
    color: orange;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

footer div ul li a {
    font-family: 'IBM Plex Mono';
  
}
footer div ul li:first-of-type:hover {
    color:blue;
}

#redes li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-bottom: 70px;
}
#redes li:first-of-type {
    background-image: url("assets/icono-twitter.png");
    background-repeat: no-repeat;
    font-size: 0;
    width: 48px;
    height: 48px;
}
#redes li:nth-of-type(2) {
    background-image: url("assets/icono-fb.png");
    background-repeat: no-repeat;
    font-size: 0;
    width: 48px;
    height: 48px;
}
#redes li:nth-of-type(3) {
    background-image: url("assets/icono-ln.png");
    background-repeat: no-repeat;
    width: 48px;
    height: 48;
}
#redes li:last-of-type {
    background-image: url("assets/icono-youtube.png");
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}
#redes a {
    width: 48px;
    height: 48px;
    font-size: 0;
    display: block;
}

