@import url('https://fonts.googleapis.com/css2?family=Coiny&family=IBM+Plex+Mono:wght@300;400&family=Roboto:wght@400;700&display=swap');
:root {
    --naranja-pescar: #FD7202;
    --azul-pescar: #005CBD;
    --index-background: #1c1e27;
    --gris-pescar: rgba(255, 255, 255, 0.7);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    display: none;
}

/*Seccion inicio*/

li,
a,
button {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid hsla(0, 1%, 65%, 0.5)
}

.logo img {
    height: 55px;
    cursor: pointer;
    margin-left: 60px;
    padding-bottom: 2px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    margin: 0 30px;
    font-size: 17px;
    font-family: 'IBM Plex Mono', monospace;
}
.nav-links li:hover {
   transition: all .2s ease-in-out;
   transform: scale(1.05);
}

.nav-links li a {
    color: black;
}

.nav-links li a:hover {
    color: var(--naranja-pescar)
}

.acceder {
    padding: 9px 25px;
    background-color: var(--naranja-pescar);
    border: none;
    border-radius: 5px;
    height: 45px;
    margin-right: 160px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.acceder:hover {
   transition: all .2s ease-in-out;
   transform: scale(1.05);
}

/*finaliza sección header*/

.background-banner img {
    height: 75vh;
    width: 100%;
}

/*Comienza form*/

.form {
    height: 76vh;
    background-image: url(/assets/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

h2 {
    color: rgb(22, 26, 25);
    text-align: center;
    margin: 20px;
    font-family: 'IBM Plex Mono', monospace;
}

.form__container {
   background-color: white;
   opacity: calc(0.9);
   height: 490px;
   width: 500px;
   display: flex;
   flex-direction: column;
   margin-top: 110px;
   border-radius: 12.5px;
}

.box {
    margin-left: 25px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    Line-height: 21px;
}

.form input {
    border-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.432);
    height: 30px;
    margin: 5px;
    padding: px;
    width: 260px;
    font-size: 1em;
    font-family: 'IBM Plex Mono';
    line-height: 21px;
}

.como_nos_conociste textarea {
    height: 100px;
    width: 460px;
    resize: none;
    background: #ffffffc9;
    margin: 5px auto;
    border: 2px solid rgba(128, 128, 128, 0.432);
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    font-family: 'IBM Plex Mono';
    line-height: 21px;
    color: #000000;
    margin-bottom: 15px;
}


input,
textarea:focus {
    outline: none;
    /*para que no marque los bordes cuando selecciono*/
}

.como_nos_conociste {
    display: flex;
    flex-direction: column;
}

.boton__redes {
    text-align: center;
    display: flex;
}

.boton__redes button {
    width: 222px;
    height: 40px;
    font-size: 1.1em;
    font-family: 'IBM Plex Mono', monospace;
    margin-right: 5px;
}

.gmail {
    position: relative;
}

.gmail-button {
    background-color: #1C1E27;
    color: white;
    border: none;
    border-radius: 15px;
    margin-left: 25px;
    cursor: pointer;
}

.gmail-button:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.02);
}

.gmail img {
    position: absolute;
    left: 35px;
    top: -4px;
}

.linkedin {
    position: relative;
}

.linkedin-button {
    background-color: #275784;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.linkedin-button:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.02);
}

.linkedin img {
    position: absolute;
    height: 40px;
    left: 15px;
}

.continuar {
    width: 450px;
    height: 40px;
    color: white;
    background-color: var(--naranja-pescar);
    margin: 10px 25px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    line-height: 23.4px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.continuar:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.02);
}


p {
    margin: 0px 0px 12px 0px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    Line-height: 21px;
}

.password input {
    position: relative;
}

.password2 input {
    position: relative;
}

.password img {
    position: absolute;
    height: 25px;
    margin-left: -35px;
    margin-top: 6px;
}

.password2 img {
    position: absolute;
    height: 25px;
    margin-left: -35px;
    margin-top: 6px;
}
/*Finaliza form*/

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/* Comienza Footer*/  

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    height: 200px;
    margin-right: 100px;
    margin-left: 100px;
}

footer div {
    display: inline-block;
    justify-content: space-between;
}
footer div:first-of-type {
    display: inline-block;
}


footer .logo {
    background-image: url("/assets/logo_pescar.png");
    background-repeat: no-repeat;
    height: 120px;
    width: 230px;
}

footer div ul {
    text-decoration: none;
    list-style: none;
    align-items: center;
    align-items: initial;
}

footer div:nth-child(2) {
    margin-bottom: 35px;
}

footer div ul li:first-of-type{
    color: var(--naranja-pescar);
    text-transform: uppercase;
    margin-bottom: 5px;
}

footer div ul li a {
    font-family: 'IBM Plex Mono';
}

footer div ul li a:visited {
    color: black;
}
footer div ul li:first-of-type a {
    color: var(--naranja-pescar);
    font-weight: bold;
}

footer div ul li a:hover {
    color:var(--azul-pescar);
}

#redes li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-bottom: 70px;
}
#redes li:first-of-type {
    background-image: url("/assets/icono-twitter.png");
    background-repeat: no-repeat;
    font-size: 0;
    width: 48px;
    height: 48px;
}
#redes li:nth-of-type(2) {
    background-image: url("/assets/icono-fb.png");
    background-repeat: no-repeat;
    font-size: 0;
    width: 48px;
    height: 48px;
}
#redes li:nth-of-type(3) {
    background-image: url("/assets/icono-ln.png");
    background-repeat: no-repeat;
    width: 48px;
    height: 48;
}
#redes li:last-of-type {
    background-image: url("/assets/icono-youtube.png");
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}
#redes li:first-of-type:hover{
    background-image: url("/assets/icono-twitter-hover.png");
    background-repeat: no-repeat;
    font-size: 0;
    width: 48px;
    height: 48px;
}
#redes li:nth-of-type(2):hover {
    background-image: url("/assets/icono-fb-hover.png");
    background-repeat: no-repeat;
    font-size: 0;
    width: 48px;
    height: 48px;
}
#redes li:nth-of-type(3):hover {
    background-image: url("/assets/icono-ln-hover.png");
    background-repeat: no-repeat;
    width: 48px;
    height: 48;
}
#redes li:last-of-type:hover {
    background-image: url("/assets/icono-youtube-hover.png");
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}
#redes a {
    width: 48px;
    height: 48px;
    font-size: 0;
    display: block;
}